<div class="ajax-cont">

</div> <!-- AJAX Destination -->

<div class="large-header">
  <h2>Welcome home, <span><%= @teacher.name %></span></h2>
  <p>Please Select a course to modify the required books</p>
</div>

<!-- Gives the ability to send back information to the user from controller -->
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<% if @teacher.admin %>
    <a href="/admin/toggle"><div class="switch-btn">
      <p class="switch-txt">
        Admin View
      </p>
    </div></a>
<% end %>

<% @courses.each do |course| %>
  <div id="container" >
    <button class="dropdown" data-course-id="<%= course.id %>">
      <%=course.name%>
      <% if course.submitted %>
        <i class="fa fa-check"></i>
        <p class="course-submitted">Course submitted!</p>
      <% else %>
        <i class="fa fa-check hidden"></i>
          <p class="course-submitted hidden">Course submitted!</p>
      <% end %>
    </button>
    <div class="panel">
      <table>
        <thead>
          <tr class="top">
            <th class="title">Title:</th>
            <th class="title">Author:</th>
            <th class="title">ISBN:</th>
            <th class="title">Edition:</th>
          </tr>
        </thead>
        <tbody>
          <% course.books.each do |book| %>
            <tr>
              <th><%= book.title %></th>
              <th><%= book.author %></th>
              <th><%= book.isbn %></th>
              <th><%= book.edition %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
      <a href="#" onclick="bookAjax(<%= @teacher.id %>, <%= course.id %>)" class="add-book">
        <div id="add-book-btn">
          <p class="btn-text">Add New Book</p>
        </div>
      </a>
      <!-- button for confirming + sending to admin -->
      <div id="add-book-btn" class="submit-course"
           onclick="clicked('<%=course.name%>', <%= @teacher.id %>, <%= course.id %>);">
        <p class="btn-txt">Submit Course</p>
      </div>
    </div>
  </div>
<% end %>

<!-- JavaScript for accordion drop down -->
<script>
    var acc = document.getElementsByClassName("dropdown");
    var i;
    // add accordion animations
    for (i = 0; i < acc.length; ++i) {
        acc[i].onclick = function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        }
    }
<<<<<<< Updated upstream
    <!-- script for confirming prof wants to submit to Admin -->
    function clicked(CName, t_id, c_id) {
        if (confirm('Are you sure you wish to submit this booklist for ' + CName + ' ?')) {
            $.ajax(
                {
                    url: '/teachers/' + t_id + '/courses/' + c_id + '/submit',
                    cache: false,
                    success: () => {
                        console.log("Course submitted properly");
                        $('button[data-course-id="'+c_id+'"] i').toggleClass('hidden');
                        $('button[data-course-id="'+c_id+'"] p').toggleClass('hidden');
                    }
                }
            )
        } else {
            return false;
<!-- script for confirming prof wants to submit to Admin -->
    {
        function clicked(CName) {
            if (confirm('Are you sure you wish to submit this booklist for ' + CName + ' ?')) {
                
            } else {
                return false;
            }

        }
    }

    /* AJAX JQuery for adding books form */
    function bookAjax(t_id, c_id) {
        $.ajax(
            {
                url: '/teachers/' + t_id + '/courses/' + c_id + '/books/new',
                cache: false,
                success: function (html) {
                    console.log("Success! T_id: " + t_id + "  C_id: "+c_id);
                    $('.ajax-cont').html(html).css({"display": "block", "z-index": "100"})
                        .animate({"opacity": "1"}, {duration: 350, queue: false});

                    /* Add closing animation */
                    $('p.exit').click(function() {
                        //hide the container to show login form
                        $('.ajax-cont').animate({"opacity": "0"}, {duration: 350, complete: () => {
                            $('.ajax-cont').css({"display": "none", "z-index": "-100"});
                        }});
                    });
                }
            }
        );
    }

    $(document).ready(function () {
        $('.ajax-cont').css({'opacity': '0', 'display':'none'});

        $('a.add-book').on("click", (a)=>{a.preventDefault();})
    });
</script>
