<ul>
<%= @courses.each do |course|  %>
  <li>
    <h1><%= course.name %></h1>
    <div>
      <%= if course.books.exists? %>
            <h3>No book</h3>
      <%= else
            course.books.each do |book| %>
              <h3><%= book.name %></h3>
          <% end %>
      <% end %>
    </div>
  </li>
<% end %>
</ul>