<div class="ajax-cont">

</div> <!-- AJAX Destination -->

<h2>Hello Professor</h2>
<p>Please Select a Class to modify the books required</p>
<!-- Gives the ability to send back information to the user from controller -->
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<% @courses.each do |course| %>
  <div id="container" >
    <button class="dropdown"><%=course.name%></button>
    <div class="panel">
      <table>
        <thead>
          <tr class="top">
            <th class="title">Title:</th>
            <th class="title">Author:</th>
            <th class="title">ISBN:</th>
            <th class="title">Edition:</th>
          </tr>
        </thead>
        <tbody>
          <% course.books.each do |book| %>
            <tr>
              <th><%= book.title %></th>
              <th><%= book.author %></th>
              <th><%= book.isbn %></th>
              <th><%= book.edition %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
      <a href="#" class="add-book">
        <div id="add-book-btn">
          <p class="btn-text">Add New Book</p>
        </div>
      </a>
    </div>
  </div>
<% end %>

<!-- JavaScript for accordion drop down -->
<script>
    var acc = document.getElementsByClassName("dropdown");
    var i;

    for (i = 0; i < acc.length; ++i) {
        acc[i].onclick = function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        }
    }

    /* AJAX JQuery for adding books form */
    $(document).ready(function () {
        $('.ajax-cont').css({'opacity': '0', 'display':'none'});

        <% index = 0 %>
        $('.add-book').click(function(a) {
            a.preventDefault();
            $.ajax(
                {
                    url: '<%= "/teachers/#{@teacher.id}/courses/#{@course_ids[index].id}/books/new" %>',
                    cache: false,
                    success: function (html) {
                        console.log("Success!");
                        $('.ajax-cont').html(html).css({"display": "block", "z-index":"100"})
                            .animate({"opacity": "1"}, {duration: 350, queue: false});
                    }
                }
            );
            <% index += 1 %>
        });
    });

    $(document).ajaxComplete(function() {
        /* Add closing animation */
        $('p.exit').click(function() {
            //hide the container to show login form
            $('.ajax-cont').animate({"opacity": "0"}, {duration: 350, complete: () => {
                $('.ajax-cont').css({"display": "none", "z-index": "-100"});
            }});
        });


    })
</script>
