<div class="ajax-cont"></div> <!-- AJAX Destination -->
<h1>Welcome, <%= @teacher.name %>!!</h1>

<div class="">

  <!-- Gives the ability to send back information to the user from controller -->
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <% if @courses.empty? %>
      <h2 class="no_courses">No Courses yet</h2>

      <a class="add-button" href="#"><div class="add_course">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <h3>Add Course</h3>
      </div></a>

  <% else  %>
      <ul>
        <% @courses.each do |course|  %>
            <li>
              <h2><%= course.name %></h2>
              <h2><%= course.teacher.name %></h2>
            </li>
        <% end %>
        <a class="add-button" href="#"><div class="add_course">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <h3>Add Course</h3>
        </div></a>
      </ul>

  <% end %>

</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
      $('.ajax-cont').css({'opacity': '0', 'display':'none'});

      $('.add-button').on("click", function (a) {
          a.preventDefault();

          $.ajax(
              {
                  url: '<%= new_teacher_course_url(@teacher) %>',
                  cache: false,
                  success: function (html) {
                      $('.ajax-cont').append(html).css({"display": "block"})
                          .animate({"opacity": "1"}, {duration: 350, queue: false});
                  }
              }
          )
      });
  });

  $(document).ajaxComplete(function() {
      $('p.exit').on("click", function () {
          //hide the container to show login form
          $('.ajax-cont').animate({"opacity": "0"}, {duration: 350, complete: function() {
              $('.ajax-cont').css({"display": "none", "z-index": "-100"});
          }});
          //remove previous event listener on the ajax call, add a new one to just show the container
          $('.add-button').off("click").on("click", function (a) {
              a.preventDefault();  //prevent ajax call from happening again
              $('.ajax-cont').css({"z-index": "100", "display": "block"});
              $('.ajax-cont').animate({"opacity": "1"}, {duration: 350});
          })
      });
  })
</script>