<div class="overlay">
  <div class="book-form form-cont">
    <h1 class="book-head form-head">Add a New Book</h1>
    <p class="exit">X</p>

    <%= form_for(@book, url: teacher_course_books_path, html: {method: :post}) do |f| %>
      <%= f.label :title, "Name: " %>
      <%= f.text_field :title %>

      <%= f.label :author, "Author: " %>
      <%= f.text_field :author %>

      <%= f.label :edition, "Edition: " %>
      <%= f.number_field(:edition, in: 1..100, step: 1) %>

      <!-- Definitely will change this somehow to
            to reflect ISBN numbers -->
      <%= f.label :isbn, "ISBN Number: " %>
      <%= f.text_field :isbn %>

      <!-- on yes, add additional form fields via AJAX/JQuery -->
      <div class="add-media">
        <h4>Additional Media Required?</h4>
        <input class="media-check" type="checkbox">
        <label>yes</label>

        <!-- hidden unless media checkbox is checked-->
        <div class="media-form">
          <%= f.fields_for :media do |ff| %>
            <%= ff.label :name, "Media Name: " %>
            <%= ff.text_field :name %>

            <%= ff.label :author, "Media Author: " %>
            <%= ff.text_field :author %>

            <%= ff.label :edition, "Media Edition: " %>
            <%= ff.number_field(:edition, in: 1..100, step: 1) %>

            <%= ff.label :isbn, "ISBN Number: " %>
            <%= ff.text_field :isbn %>

            <div class="website">
              <h4>Does this media need website information?</h4>
              <input type="checkbox" class="web-check" />
              <label>yes</label>

              <!-- hidden unless website box is checked -->
              <div class="website-field">
                <%= ff.label :website %>
                <%= ff.text_field :website %>
              </div>
            </div>
        <% end %>
        </div>
      </div>

      <%= f.submit "Add Book" %>
    <% end %>

  </div>
</div>
