<div class="content">
  <div class="profile-info">
    <h1>Your Profile:</h1>
    <hr/>

    <%= form_for(@teacher, url: teacher_path(@teacher), \
                  html: {method: :patch}) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :department %>
        <%= f.text_field :department %>

        <%= f.label :password%>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit yield(:update), value: :Update %>
    <% end %>
  </div>
</div>