<div class="content-left">
  <div class="profile-info">
    <div class="profile-header">
      <h1>Your Profile:</h1>
      <a href="<%= @teacher.id %>/edit"><i class="fa fa-2x fa-pencil"></i></a>
      <hr/>
    </div>

    <ul>
      <li>
        <h3>Name:</h3> <p><%= @teacher.name %></p>
      </li>
      <li>
        <h3>Email:</h3> <p><%= @teacher.email %></p>
      </li>
      <li>
        <h3>Department:</h3> <p><%= @teacher.department.upcase %></p>
      </li>
    </ul>
</div>
</div>

<div class="content-right">
  <div class="profile-stats"
    <!-- analytic information about classes? -->
    <div class="profile-header">
      <h1>Your Classes: </h1>
      <hr/>
    </div>

    <ul>
      <li>
        <h3>Number of Courses:</h3> <p><%= @courses.size %></p>
      </li>
      <li>
          <li>
            <h3>Courses without books:</h3>
          </li>
      </li>
    </ul>
  </div>
</div>

<!-- Delete user account -->
<div class="delete-button">
  <%= button_to 'Delete Account', teacher_path, method: :delete, \
          data: {confirm: "Are you sure? This action cannot be undone."} %>
</div>
